body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.header {
    grid-area: header;
    background: rgb(0,0,255);
    display: flex;
    justify-content: space-between;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}

.fotr {
    grid-area: footer;
    background: rgb(0,0,255);
}

.fotr:hover {
    background: rgba(0, 0, 255, 0.358);
}

.header:hover {
    background: rgba(0, 0, 255, 0.358);
}