@media only screen and (max-width:600px) {
    /* !check through dev mode the width of phone,tablet,computer! */
    body{
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    #searchBackground{
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 60%;
    filter: contrast(120%) brightness(80%);
    background-repeat: repeat;
    background-size: auto;
    z-index: -1000;
    }

    #cssContainer{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 10% 84% 6%;
        grid-template-areas: 
        "nav nav nav nav"
        "mainArea mainArea mainArea mainArea"
        "footer footer footer footer";
    }

    /* Nav and footer should be used for all different css!! */
    nav{
    grid-area: nav;
    height: 6vh;
    font-size: 1em;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        opacity: 85%;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: space-evenly;
        height: 5vh;
        align-items: center;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover {
        background-color: #111;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 5vh;
        grid-area: footer;
        background-color: #333;
        opacity: 85%;
    }

    #Socials {
    padding: 0.5rem;
    margin: auto;
    font-size: 2.15em;
    text-decoration:none;
    }

    a {
    color: rgb(255, 255, 255);
    text-decoration:none;
    }

    #Credits {
    color: #fff;
    padding: 10px;
    font-size: 0.85em;
    transform: translate(41vw,-4.3vh);
    width: 22vw;
    }
    /* END OF NAV + Footer */



    #searchForm{
    width: 65vw;
    height: 6vh;
    transform: translate(18vw,4vh);
    grid-area: nav;
    font-weight: bold;
    font-size: 1.35rem;
    text-align: center;
    align-content: center;
    color: #333;
    display: flex;
    align-items: center;
    }

    #searchPaginationDiv {
    transform: translate(0vw,-89vh);
    height: 5vh;
    }

    #searchMainDiv{
    grid-area: mainArea;
    margin-left: 1vw;
    gap: 2rem;
    width: 100vw;
    height: 83vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    align-items: center;
    text-overflow: clip;
    }

    .searchContainer {
        height: 35vh;
        width: 43vw;
    }
    
    .searchContainer img {
        height: 35vh;
        width: 43vw;
    }

    #searchForm input {
    height: 2vh;
    width: 20vw;
    margin: 5px;
    }

    #searchForm button {
        font-size: 0.5em;
    width: 8vw;
    height: 2vh;
    font-weight: bold;
    }

    .displayInfo{
    text-align: center;
    margin-top: 1.3vh;
    }

    .displayInfo p {
    margin-top: -1vh;
    }

    .displayInfo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    /* Like BTN */
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .like__btn {
    margin-top: 0.5vh;
    height: 3.5vh;
    width: 20vw;
    padding: 10px 15px;
    background: #0080ff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    color: #e8efff;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 1.5vw;
    }


    .searchDisDiv{
        font-weight: bold;
    color: #FFF;
    text-align: center;
    transform: translate(-1vw,-32vh);
    }

    .searchParas{
    filter: brightness(180%),contrast(150%);
    text-shadow: 4px 6px 6px #333;
    height: 100%;
    z-index: -1;
    transform: translate(3vw,-2vh);
    width: 38vw;
    }

    ::-webkit-scrollbar{
    opacity: 0%;
    }
}