/* !check through dev mode the width of phone,tablet,computer! */
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

#searchBackground{
  position: absolute;
  height: 100vh;
  width: 100vw;
  opacity: 70%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

#cssContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 6% 5% 83% 6%;
    grid-template-areas: 
    "nav nav nav nav"
    "searBar searBar searBar searBar"
    "mainArea mainArea mainArea mainArea"
    "footer footer footer footer";
}

/* Nav and footer should be used for all different css!! */
nav{
  grid-area: header;
  height: 6vh;
  font-size: 1.5rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 85%;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    align-items: center;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  grid-area: footer;
  background-color: #333;
  opacity: 85%;
}
/* END OF NAV + Footer */



#searchForm{
  width: 100%;
  height: 5vh;
  grid-area: searBar;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
  align-content: center;
  color: #333;
  display: flex;
  align-items: center;
  margin-left: 41vw;
}

#searchMainDiv{
  grid-area: mainArea;
  width: 100vw;
  height: 81vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
  align-items: center;
  text-overflow: clip;
}

#searchForm input {
  height: 1.8vh;
  margin: 5px;
}

#searchForm button {
  width: 3vw;
  height: 1.5vh;
  font-weight: bold;
}

nav{
    grid-area: nav;
    height: 6vh;
    font-size: 1.5rem;
}

.displayInfo{
  text-align: center;
  margin-top: 1.3vh;
}

.displayInfo p {
  margin-top: -1vh;
}

.displayInfo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Like BTN */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.like__btn {
  margin-top: 0.5vh;
  height: 3.3vh;
  width: 5.2vw;
  padding: 10px 15px;
  background: #0080ff;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  color: #e8efff;
  outline: none;
  border: none;
  cursor: pointer;
}
