#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  margin-top: 5vh;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

.navBar {
  position: fixed;
  top:0;
  width: 100vw;
  height: 5vh;
  background-color: #333;
  opacity: 70%;
  display:flex;
  justify-content: space-evenly;
  flex-direction: row;
}

a {
  font-size: 1.3em;
  align-self: center;
  color: #fff;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.transactionsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* max-width: 800px; */
  margin: 20px auto;
  align-items: center;
}

.transactionDiv {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  flex: 1 1 calc(25% - 20px); 
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.transactionDiv p {
  font-size: 16px;
  margin-bottom: 8px;
}

/* .transactionDiv button {
  text-align: center;
  align-items: center;
  align-content: center;
} */

.transactionDiv.expense {
  border: 2px solid #e74c3c;
}

.transactionDiv.income {
  border: 2px solid #2ecc71;
  color: #2ecc71;
}