body {
    background-image: url(under650.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (min-width: 651px ) {
    body {
        background-image: url(over651.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

.navcss {
    width: 100%;
    height: 10vh;
    border: 2px solid;
    background-color: rgb(255, 255, 0);
    padding: 4px;
    margin: 0px;
    opacity: 50%;
}

@media screen and (max-width: 500px ) {
    .navcss {
        opacity: 100%;
        width: 5%;
        height: 5vh;
    }
}