@media only screen and (max-width:600px) {
    /* !check through dev mode the width of phone,tablet,computer! */
/* Nav and footer should be used for all different css!! */
body {
    width: 100vw;
    height: 100vh;
    /* background-image: url(https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?cs=srgb&dl=pexels-pixabay-355887.jpg&fm=jpg);
    background-size:cover; */
    overflow:hidden
  }
  
  #backgroundDiv {
    background-image: url(https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?cs=srgb&dl=pexels-pixabay-355887.jpg&fm=jpg);
    background-size:cover;
    height: 100vh;
    width: 100vw;
  }
  
  nav{
      margin-left: -0.3vw;
      margin-top: -0.8vh;
      grid-area: header;
      height: 6vh;
      font-size: 1rem;
    }
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        opacity: 85%;
        overflow: hidden;
        background-color: #333;
        display: flex;
        justify-content: space-evenly;
        height: 5vh;
        align-items: center;
      }
    
      li {
        float: left;
      }
    
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
  }
    footer {
      margin-left: -0.3vw;
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 5vh;
      grid-area: footer;
      background-color: #333;
      opacity: 85%;
  }
  
  #Socials {
    padding: 0.5rem;
    margin: auto;
    font-size: 2em;
    text-decoration:none;
  }
  
  a {
    color: rgb(255, 255, 255);
    text-decoration:none;
  }
  
  #Credits {
    color: #fff;
    padding: 10px;
    font-size: 0.8em;
    transform: translate(43vw,-4.3vh);
    width: 22vw;
  }
  
  #aboutSection {
    width: 50vw;
    padding: 1vw;
    height: 60vh;
    margin: auto;
    margin-top: 0vh;
  } 
  
  #mainAboutDiv {
    color: #333;
    text-shadow: 3px 3px 6px #fff;
    padding: 1vw;
    height: 60vh;
    width: 44vw;
    font-size: 1.2em;
  }
  
  #titleDiv {
    font-size: 1.5em;
    height: 3vh;
    border-radius: 20px;
    padding: 1em;
    width: 38vw;
    background-color: #e7e2e2d8;
    margin-left: 0vw;
  }
  
  #restDiv {
    overflow: auto;
    margin-left: -16vw;
    font-size: 1.1em;
    height: 65vh;
    border-radius: 20px;
    margin-top: 3vh;
    padding: 1em;
    width: 76vw;
    background-color: #e7e2e2d8;
  }
  
}